body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto; /*evenly distributing space */
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1; /*grow to take much space needed*/
}

footer {
    color: lightcoral;
    border-top: 1px solid lightgrey;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

/* a to target all links */
header a {
    color: lightskyblue;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 6px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: lightskyblue;
    color: white;
    padding: 6px;
}

/* for all images
 img {
    width: 250px;
    
} */

